body{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .8);
}
td,th{
    padding:10px !important;
    text-align: center;
}
.m-btm{
    margin-bottom: 35px;
}
.m-top{
    margin-top:50px;
}
.input-box{
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 8px;
    width:97%;
    max-width:400px;
    padding:20px;
}
.social-footer{
    text-align:center;
    padding:20px;
    border-top:1px solid #fff;
    text-decoration: none;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* SNACK BAR */
#snackbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px;
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}
  
 
#snackbar.show {
visibility: visible; 
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;} 
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}